[Unit]
Description=Wine Wish
After=network.target

[Service]
User=leybovich-nikita
# e.g. $HOME = /home/leybovich-nikita
# e.g. $PROJECT = /wine-wish
# e.g. $PORT = 5002
WorkingDirectory=$HOME/$PROJECT
EnvironmentFile=$HOME/$PROJECT/.env
ExecStart=$HOME/$PROJECT/.venv/bin/flask run --host=0.0.0.0 --port=$PORT
Restart=always
RestartSec=10
StandardOutput=file:$HOME/$PROJECT/logs/flask.log
StandardError=file:$HOME/$PROJECT/logs/flask.error.log

[Install]
WantedBy=multi-user.target