<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>potyk-stats</title>

    <style>
        body {
            max-width: 700px;
            margin: auto;
            padding: 5px;
            font-family: "Rubik", system-ui;
        }
    </style>
    {% block style %}
    {% endblock %}

</head>


<body>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div>
        {% block main %}
        {% endblock %}
    </div>
</main>
</body>
</html>